<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据库中的数据</title>
</head>
<body>
<table border="2">
    <thead>
    <tr>
        <th>标号</th>
        <th>名称</th>
        <th>摘录</th>
    </tr>
    </thead>
    <tbody>
    <!-- 常用的迭代 th:each 用法 -->
    <tr th:each="tagInfoList : ${tagInfoList}">
        <td th:text="${tagInfoList.id}"></td>
        <td th:text="${tagInfoList.tagName}"></td>
        <td th:text="${tagInfoList.tagExcerpt}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>